-# in app/views/movies/show.html.haml

%h1 #{@portfolio.name}
%p #{@portfolio.description}

- @groups.each do |group|
  - if group.projs.size > 0
    %h2 Group '#{group.name}' Projects
    %table{:class => "table table-striped"}
      %thead
        %tr
          %th Name
          %th Description
          %th Begin Date
          %th End Date
      %tbody
        - @portfolio.projs.each do |project|
          - if project.group.id == group.id && project.proj_csses.find_by_portfolio_id(@portfolio.id).visible
            %tr
              %td= project.name 
              %td= project.description
              %td= project.begin_date.strftime("%b %d, %Y")
              %td= project.end_date.strftime("%b %d, %Y")

%br
= link_to 'Back to Portfolio List', portfolios_path
